.modal{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.733);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display:flex ;
}

.modal-container{
    position: relative;
    padding: 2rem;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 600px; 
    overflow-y: auto;
    background-color: #fff;
    border-radius: 20px;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

h1, h3, figure{
    text-align: center;
}


input[type='submit']{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    font-family: inherit;
    background-color: hsl(278, 68%, 11%);
    color: hsl(270, 3%, 87%);
    font-size: 18px;
    margin-top: 40px;
  }